# DataFrame Analysis Exercise

**Import the `bestsellers.csv` dataset and use it to answer the following questions:**

* Find the lowest User Rating in the DF
* Find the highest Price in the DF
* What is the average User Rating?
* What the average User Rating of the first 5 rows?
* What User Review score appeared the most?
* What is the total (sum) of all the values in the Reviews column?
* How many different authors are featured in the dataset?
* Which author wrote the most number of books on the list?  How many did they write?

In [1]:
import pandas as pd

In [2]:
bestsellers = pd.read_csv("../data/bestsellers.csv")

In [3]:
bestsellers

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [4]:
bestsellers['User Rating'].min()

3.3

In [5]:
bestsellers['Price'].max()

105

In [6]:
bestsellers['User Rating'].head().mean()

4.7

In [7]:
bestsellers.groupby(['Author']).sum().max()

Name           You Are a Badass: How to Stop Doubting Your Gr...
User Rating                                                 57.6
Reviews                                                   278329
Price                                                        460
Year                                                       24163
Genre          Non FictionNon FictionNon FictionNon FictionNo...
dtype: object

In [8]:
bestsellers['Reviews'].sum()

6574305

In [9]:
bestsellers['Author'].drop_duplicates()

0                      JJ Smith
1                  Stephen King
2            Jordan B. Peterson
3                 George Orwell
4      National Geographic Kids
                 ...
537              Cheryl Strayed
538                 Ken Follett
539                 Geneen Roth
540               R. J. Palacio
546                 Jen Sincero
Name: Author, Length: 248, dtype: object

In [36]:
book = bestsellers[['Author','Name']].groupby('Author').count()

In [41]:
book.sort_values('Name',ascending=False).head(1)

             Name
Author
Jeff Kinney    12